@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-gradient-to-br from-violet-950 to-brand-dark;
  }
  .container-fluid {
    @apply container lg:max-w-5xl z-10;
  }
}

@layer utilities {
  .line {
    @apply w-5 h-0.5 rounded-3xl bg-titleColor dark:bg-gray-light transition-all duration-300 ease-in-out;
  }

  .hamburger {
    @apply flex flex-col gap-y-1 focus:outline-none md:hidden;
    &.expanded {
      .line:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }
      .line:nth-child(2) {
        opacity: 0;
      }
      .line:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }

  .sidebar-menu {
    @apply w-0 h-0 right-0 fixed bg-titleColor/50 z-50 opacity-0 md:hidden origin-center;
    .sidebar-content {
      @apply scale-0 origin-top-right transition-all duration-300 ease-in-out;
    }
    &.expanded {
      @apply w-full h-full opacity-100;
      .sidebar-content {
        @apply scale-100;
      }
    }
  }
}
